({:uname "user1",
  :pass "enter",
  :data
  {:name "samyr",
   :age "68",
   :phone "9758452038",
   :address "10 via  grossotos"}}
 {:uname "user2",
  :pass "enter",
  :data
  {:name "user", :age 13, :phone 97584520, :address "10 vckvk dkm"}}
 {:uname "user3",
  :pass "enter",
  :data
  {:name "user", :age 13, :phone 97584520, :address "10 vckvk dkm"}})
